@{
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "UpdateSoon";

    string cname = ViewBag.cname;
}

<!-- Start inner banner Section -->
<section>
    <div class="innban-sec position-relative ">
        <img alt="About Us" class="w-100" src="Content/User/img/banner-image-2.jpg" />
        <div class="caption position-absolute top-50 start-0 text-start">
            <div class="container">
                <div>
                    <h2 class="td_section_title td_fs_48 mb-0 text-white">
                        Update Soon
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end inner banner Section --><!-- Start About us page Courses -->
<section class="td_gray_bg_3 ss sec-gap  ">
    <div class="container">
        <div class="ab__topsec mt-0">
            <div class="row  ">
                <div class="col-md-12">
                    <div style="margin-block: 80px;">
                        <div class="inner__heading">
                            <h2 class="head__title text-center justify-content-center">
                                Page will Update Soon..
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us page Courses -->